# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
*.lib
*.zip
*.gz
*.tar

# Executables
*.exe
*.out
*.app
*.dll

# Visaul Studio
*.iobj
*.ipdb
*.idb
*.pdb
*.tlog
*.log
*.ilk
*.user
*.exp
*.vc.db
*.*.manifest
*.cache
*.bsc

# protobuf
*.pb.h
*.pb.cc
/src/squick/struct/protocol_define.h
/src/squick/struct/*.cs

# Codeblocks
*.layout
*.depend

# CMake
#[cC][mM]ake[lL]ists.txt


/cache/
#/build/config/ini/
/deploy/config/struct/
/deploy/config/proto/
/deploy/data/logs/
/deploy/bin/
/deploy/config/tools/config_generator

/third_party/build
/third_party/lib
/third_party/lua/src/luac
/third_party/lua/src/lua

/.idea/*

/Temp
/temp
/*.opendb

/build/server

/src/squick/struct/protoc



/.vs/

# Editor
.idea
.vscode
push.sh

