# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
*.lib
*.zip
*.gz
*.tar

# Executables
*.exe
*.out
*.app
*.dll

# Visaul Studio
*.iobj
*.ipdb
*.idb
*.pdb
*.tlog
*.log
*.ilk
*.user
*.exp
*.vc.db
*.*.manifest
*.cache
*.bsc

# Generated source code
*.pb.h
*.pb.cc
/src/squick/struct/protocol_define.h
/src/squick/struct/*.cs
/src/squick/struct/protoc

# Codeblocks
*.layout
*.depend

# CMake
#[cC][mM]ake[lL]ists.txt
/config/struct

/cache/
#/build/config/ini/
/deploy/
/data/
/bin/
/client/
/tools/xlsx2need

/third_party/build
/third_party/lib
/third_party/lua/src/luac
/third_party/lua/src/lua

/.idea/*

/Temp
/temp
/*.opendb


/.vs/

# Editor
.idea
.vscode
push.sh

